
body {
  background-color: black;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
  margin: 0; /* Remove default margin */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  
h2,h{
  color: white;
}
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-size: 1.2em;
    color: #fff;
  }
  
  .form-group input {
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
  }
  
  .button {
    width: 100%;
    padding: 12px 20px;
    background: #0078ff;
    background: linear-gradient(45deg, #ff357a, #fff172);
    border: none;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .form-group button:hover {
    background: #0078ff;
    background: linear-gradient(45deg, #ff357a, #fff172);
    transform: translateY(-3px);
  }
  
  .additional-options a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .additional-options a:last-child {
    margin-right: 0;
  }
  